<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186458573376-v66vg1gff6lmv3d03je20friqoggoc72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186458573376-v66vg1gff6lmv3d03je20friqoggoc72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186458573376-0md75rf8ahnkn1bnm75n8d057gnvik3j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX6Ks4Ej_K2IMYjfrasxB8uOS15-IB3O8</string>
	<key>GCM_SENDER_ID</key>
	<string>186458573376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohaned.etchat</string>
	<key>PROJECT_ID</key>
	<string>etchat-ac70f</string>
	<key>STORAGE_BUCKET</key>
	<string>etchat-ac70f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186458573376:ios:5e90c1d3fbf9130f582da5</string>
</dict>
</plist>